<a href="https://colab.research.google.com/github/Jinky17/G26_Dynamic_Data_Linkage/blob/main/Origninal_Dynamic_Data_linkage_MVP_demonstration_13th_October.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import all the required packages/libraries

In [ ]:
#reusing the Bloom filter codes
!pip install bitarray
import BF_encoding
import pandas as pd

from sklearn.cluster import AgglomerativeClustering
from scipy.cluster.hierarchy import dendrogram, linkage
from statistics import mean
from bitarray import bitarray
from sklearn.metrics import silhouette_score
from matplotlib import pyplot as plt

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bitarray in /usr/local/lib/python3.7/dist-packages (2.6.0)
29 30 0.95 0.9201101928374655
jesse dobson 0.0 0.275
female female 1.0 1.0
99 1 0.85 0.8092105263157895
99 1 0.0 0.5740181268882175

In [ ]:
#initialisng bloom filter object
bf_len = 50 #Bloom filter length
bf_num_hash_func = 2 #Number of hash functions
bf_num_inter = 5 #Number of intervals to use for BF based similarities
bf_step = 1 # 
max_abs_diff = 20 #Maximum absolute difference allowed
min_val = 0 #Minimum value
max_val = 100 #Maximum value
q = 2 #Length of sub-strings/q-grams

In [ ]:
bf = BF_encoding.BF(bf_len, bf_num_hash_func, bf_num_inter, bf_step,
          max_abs_diff, min_val, max_val, q)

------------------------------------------------------------------------------------------------------

# Create a dictionary of first 3 raw datasets

In [ ]:
rec_db1 = bf.__read_csv_file__('ncvr_numrec_100_modrec_2_ocp_0_myp_0_nump_5.csv',True, None)
rec_db2 = bf.__read_csv_file__('ncvr_numrec_100_modrec_2_ocp_0_myp_1_nump_5.csv',True, None)
rec_db3 = bf.__read_csv_file__('ncvr_numrec_100_modrec_2_ocp_0_myp_2_nump_5.csv',True, None)
rec_db4 = bf.__read_csv_file__('ncvr_numrec_100_modrec_2_ocp_0_myp_3_nump_5.csv',True, None)
rec_db5 = bf.__read_csv_file__('ncvr_numrec_100_modrec_2_ocp_0_myp_4_nump_5.csv',True, None)
#rec_db6 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_20_myp_0_nump_5.csv',True, None)
#rec_db7 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_20_myp_1_nump_5.csv',True, None)
#rec_db8 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_20_myp_2_nump_5.csv',True, None)
#rec_db9 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_20_myp_3_nump_5.csv',True, None)
#rec_db10 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_20_myp_4_nump_5.csv',True, None)
#rec_db11 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_40_myp_0_nump_5.csv',True, None)
#rec_db12 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_40_myp_1_nump_5.csv',True, None)
#rec_db13 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_40_myp_2_nump_5.csv',True, None)
#rec_db14 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_40_myp_3_nump_5.csv',True, None)
#rec_db15 = bf.__read_csv_file__('ncvr_numrec_5000_modrec_2_ocp_40_myp_4_nump_5.csv',True, None)

In [ ]:
print(type(rec_db1))

<class 'dict'>

------------------------------------------------------------------------------------------------------

# Create bloom filter of the first 5 datasets
### -- using pandas as pd
### -- create a dictionary that has the combined BF from the 3 datasets

In [ ]:
listBF = list() # creating a list to store hashed arrays of first 3 table only
dictBF = dict()

In [ ]:
# for each record of selected csv file, use BF encoding, combine all the columns into a single array and hash it, and store 
temp1 = dict()
db1 = list()
for k, v in rec_db2.items():
  store = v[1]+ v[2]+ v[3]+ v[4]
  val2_set = [store]
  bf1 = bf.set_to_bloom_filter(val2_set)
  temp1[v[0]] = bf1 # append it into a dafarame instead of disctionary ??
  listBF.append(bf1)
  db1.append(1)

In [ ]:
temp2 = dict()
db2 = list()
for k, v in rec_db2.items():
  store = v[1]+ v[2]+ v[3]+ v[4]
  val2_set = [store]
  bf2 = bf.set_to_bloom_filter(val2_set)
  temp2[v[0]] = bf2 # append it into a dafarame instead of disctionary ??
  listBF.append(bf2)
  db2.append(2)

In [ ]:
temp3 = dict()
db3 = list()
for k, v in rec_db3.items():
  store = v[1]+ v[2]+ v[3]+ v[4]
  val3_set = [store]
  bf3 = bf.set_to_bloom_filter(val3_set)
  temp3[v[0]] = bf3  # append it into a dafarame instead of disctionary ??
  listBF.append(bf3)
  db3.append(3)

In [ ]:
temp4 = dict()
db4 = list()
for k, v in rec_db4.items():
  store = v[1]+ v[2]+ v[3]+ v[4]
  val4_set = [store]
  bf4 = bf.set_to_bloom_filter(val4_set)
  temp4[v[0]] = bf4  # append it into a dafarame instead of disctionary ??
  db4.append(4)

In [ ]:
temp5 = dict() 
db5 = list()
for k, v in rec_db5.items():
  store = v[1]+ v[2]+ v[3]+ v[4]
  val5_set = [store]
  bf5 = bf.set_to_bloom_filter(val5_set)
  temp5[v[0]] = bf5  # append it into a dafarame instead of disctionary ??
  db5.append(5)

--------------------------------------------------------------------------------

In [ ]:
header = ['rec_id', 'Blooom_filters']
df1 = pd.DataFrame(temp1.items(), columns= header)
df1["database_id"] = db1 #adding the database id
df1 = df1[['rec_id', "database_id",'Blooom_filters']] # rearrange the dataframe based on colunms

In [ ]:
df2 = pd.DataFrame(temp2.items(), columns= header)
df2["database_id"] = db2 
df2 = df2[['rec_id', "database_id",'Blooom_filters']]

In [ ]:
df3 = pd.DataFrame(temp3.items(), columns= header) 
df3["database_id"] = db3 
df3 = df3[['rec_id', "database_id",'Blooom_filters']]

In [ ]:
df4 = pd.DataFrame(temp4.items(), columns= header) 
df4["database_id"] = db4 
df4 = df4[['rec_id', "database_id",'Blooom_filters']]

In [ ]:
df5 = pd.DataFrame(temp5.items(), columns= header) 
df5["database_id"] = db5
df5 = df5[['rec_id', "database_id",'Blooom_filters']]

In [ ]:
First3Table = pd.concat([df1, df2, df3])
First3Table.head()

     rec_id  database_id                                     Blooom_filters
0  04489635            1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1  03597241            1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
2  07621378            1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3  05029442            1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4  06845956            1  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

# Clustering

In [ ]:
counter = -1
counter_clus = 0
num_clusters = 2
for i in range(len(First3Table)):
  Maincluster = AgglomerativeClustering(n_clusters = num_clusters).fit(listBF) # 50 is optimal number of clusters 
  evaluation = silhouette_score(listBF, Maincluster.labels_)
  if evaluation > counter:
    counter = evaluation
    counter_clus = num_clusters
  num_clusters += 1
  if num_clusters == len(First3Table)-1:
    break
print(counter , ", ", counter_clus) # optimal number of cluster and percentage

0.8018727991065326 ,  155

In [ ]:
Maincluster = AgglomerativeClustering(n_clusters = 155).fit(listBF)

In [ ]:
Maincluster.labels_[:10]

array([123,  43,  97,   8,  44, 106,  27,  48,  32,  75])

In [ ]:
cluster_map = pd.DataFrame() ## n_clusters = 1274 
cluster_map['cluster_id'] = Maincluster.labels_
cluster_map['BF'] = listBF
cluster_map.head() # bloomFilter and it cluster

   cluster_id                                                 BF
0         123  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1          43  [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...
2          97  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3           8  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4          44  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [ ]:
rslt_df = cluster_map[cluster_map['cluster_id'] == 0] #number of all the records in cluster 0  
len(rslt_df)

2

# Use SQL database to store the dataframe generated by the first 3 csv records

In [ ]:
rslt_df #checking cluster

     cluster_id                                                 BF
222           0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
253           0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [ ]:
# import packages for a SQL server
import numpy as np  
import sqlite3 #
from sqlalchemy import create_engine

In [ ]:
# Using SQL = Pandas uses memory and will hold dataframes in RAM.
# The maximum storage will be equal to RAM.
# SQL on the other hand uses storage to store data.
# Use 

#1. save the clustered data to a SQL database
#2. save more incoming data to clustered database
#3. make a class solution where you can dynamically store and process these values

In [ ]:
cav_database = create-engine
# create a connector to a database

NameError: ignored

# Data Linkage

In [ ]:
# finding an efficient way to link the new record (from 4 and 5 ) to the appropraite cluster

In [ ]:
#second method 
#second method - go find each cluster and find the average of the cluster 
listexp = list()
averages = dict()
for i in range(counter_clus): 
  for j in range(len(cluster_map)): #loop through the cluster_map table
    if cluster_map.iloc[j, 0] == i: #identify a single cluster id and store it binary record in a temporary list
      listexp.append(cluster_map.iloc[j, 1])
  res = list()
  for y in range(len(listexp[0])):
    tempList = list()
    for k in range(len(listexp)):
      flow = listexp[k].to01()
      tempList.append(int(flow[y]))
    res.append(round(mean(tempList), 6))
  averages[i] = res

In [ ]:
averages[0]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0.5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0.5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

# Dynamic Update

In [ ]:
# the code below aim to find the best cluster id for incoming record from 4th csv file.  //////// Mean vector should have the same length //////// list of values, 

keep = 0
score = 0
for k, v in rec_db4.items(): # loop through the row of 4th csv file for each record
  store = v[0]+ v[1]+ v[2]+ v[3]
  val4_set = [store]
  bf4 = bf.set_to_bloom_filter(val4_set)# attain bloom filter for each record
  #the next stage is used to balance the length of each bloom filter from the averages list.(when getting the average the length of the bloom filter changes)
  for k1 in averages.keys():
    store = bitarray(averages[k1])
# for each record from 4th csv file, compare the similarity with each cluster average to the get the optimal cluster it belongs to.       
    if bf.calc_bf_sim(bf4,store) >= score:
      keep = k1
      store = bitarray(averages[k1])
  cluster_map.loc[len(cluster_map)+1] = [keep, bf4] #add the new record to the cluster map table

TypeError: ignored

In [ ]:
# the code is as similar to the one above, but for the 5th table
keep = 0
score = 0
for k, v in rec_db5.items():
  store = v[0]+ v[1]+ v[2]+ v[3]
  val5_set = [store]
  bf5 = bf.set_to_bloom_filter(val5_set)
  for k1 in averages.keys():
    store = bitarray(averages[k1])
    if bf.calc_bf_sim(bf5,store) >= score:
      keep = k1
      store = bitarray(averages[k1])
  cluster_map.loc[len(cluster_map)+1] = [keep, bf5]

TypeError: ignored

In [ ]:
len(cluster_map)

500

# The next and final step 
##### Connect the cluster map table to the other table with the record id. To produce the final cvs file (result)

In [ ]:
df_all_rows = pd.concat([df1, df2, df3, df4, df5]) # 
len(df_all_rows)

500

In [ ]:
cluster_col = cluster_map.cluster_id.values.tolist()

In [ ]:
df_all_rows["cluster_id"] = cluster_col #//////grand total should have same clusterid with different database_id /// each cluster should have same rec_id, the cluster we have now is not pure 
df_all_rows.tail()

,rec_id,database_id,Blooom_filters,cluster_id
95,06937828,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
96,03331940,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
97,02158195,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
98,00406646,5,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
99,08195071,5,"[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, ...",0

In [ ]:
df_all_rows.to_csv('Final_result.csv', index=False)

# Testing

In [ ]:
og_tab1 = pd.read_csv('ncvr_numrec_100_modrec_2_ocp_0_myp_0_nump_5.csv')
og_tab2 = pd.read_csv('ncvr_numrec_100_modrec_2_ocp_0_myp_1_nump_5.csv')
og_tab3 = pd.read_csv('ncvr_numrec_100_modrec_2_ocp_0_myp_2_nump_5.csv')
og_tab4 = pd.read_csv('ncvr_numrec_100_modrec_2_ocp_0_myp_3_nump_5.csv')
og_tab5 = pd.read_csv('ncvr_numrec_100_modrec_2_ocp_0_myp_4_nump_5.csv')

In [ ]:
og_tab1.head()

,rec_id,voter_reg_num,name_prefix,first_name,middle_name,last_name,name_suffix,age,gender,race,ethnic,street_address,city,state,zip_code,full_phone_num,birth_place,register_date,download_month
0,6978370,graziella,gambale-marengi,raleigh,27617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2347140,kia,mccormick,raleigh,27603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3370376,elizabeth,phillips,robbinsville,28771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7621378,sherlyn,penado,gastonia,28056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,216852,vernon,smith,durham,27704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
original_df = pd.concat([og_tab1, og_tab2, og_tab3, og_tab4, og_tab5])

In [ ]:
loop = 20
keep1 = list()
result = list()
for i in range(len(df_all_rows)):
  if df_all_rows.iloc[i, 3] == loop:
    keep1.append(int(df_all_rows.iloc[i, 0][1:]))
for j in range(len(original_df)):
  if original_df.iloc[j, 0] in keep1:
    result.append(original_df.iloc[j, 0])

In [ ]:
result

[1124670, 1124670, 1124670, 1124670, 1124670]

In [ ]:
#unique value of each cluster created
result = set(result)
len(result)

1

# Dont run

In [ ]:
# test don't run
wrongcount = 0
keep1 = list()
result = list()
for i in range(counter_clus):
  for k in range(len(df_all_rows)):
    if df_all_rows.iloc[k, 3] == i:
      keep1.append(int(df_all_rows.iloc[k, 0][1:]))
    for j in range(len(original_df)):
      if original_df.iloc[j, 0] in keep1:
        result.append(original_df.iloc[j, 0])
    myset = set(result)
    if len(myset) > 1:
      wrongcount += 1

In [ ]:
#first method
#The code below aims to get the average of all binary record for each cluster id.(using binary addition and division) 
max = cluster_map.iloc[len(cluster_map)-1, 0]
listexp = list()
loop = 0
averages = dict()
for i in range(max): 
  for j in range(len(cluster_map)): #loop through the cluster_map table
      if cluster_map.iloc[j, 0] == loop: #identify a single cluster id and store it binary record in a temporary list
        listexp.append(cluster_map.iloc[j, 1])
  sum = "0"
  div = 0
  for k in range(len(listexp)): #loop through the list created
    flow = listexp[k].to01()
    sum = bin(int(sum, 2) + int(flow, 2)) # add all binary record in that list 
    div += 1
    num = int(sum, 2) # devide the sum to get the average for each cluster id
  ans = bin(int(num/div))
  averages[loop] = ans[2:]
  loop += 1